*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
img{
    max-width: 100%;
}
.logo h5{
    font-family: "Atma", serif;
}
.logoCircle{
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
    border-radius: 50%;
    /* background-image: url(../public/images/pp.jpg); */
    background-size: cover;
}
.designer, .dev, .explorer{
    position: relative;
}
.designer::before{
    content: "{";
    position: absolute;
    font-size: 15rem;
    right: 50%;
    left: 53%;
    bottom: -59%;
    /* transform: translate(50%, -50%); */
    transform: rotate(90deg);
    font-weight: 200;
}
.designer::after{
    content: "Started as a";
    position: absolute;
    font-size: 1rem;
    left: 29%;
    top: -118%;
    font-weight: 300;
    width: 100px;
}
.explorer::before{
    content: "{";
    position: absolute;
    font-size: 15rem;
    right: 50%;
    left: 59%;
    bottom: -59%;
    /* transform: translate(50%, -50%); */
    transform: rotate(90deg);
    font-weight: 200;
}
.explorer::after{
    content: "Always an";
    position: absolute;
    font-size: 1rem;
    left: 29%;
    top: -118%;
    font-weight: 300;
    width: 100px;
}

.dev::before{
    content: "{";
    position: absolute;
    font-size: 15rem;
    right: 50%;
    left: 53%;
    top: -59%;
    transform: translate(50%, -50%);
    transform: rotate(270deg);
    font-weight: 200;
}
.dev::after{
    content: "Doing";
    position: absolute;
    color: #7B66EE;
    font-size: 1rem;
    left: 48%;
    bottom: -118%;
    font-weight: 300;
    width: 100px;
}

.aboutImg{
    /* background-image: url('../public/images/aboutImg.jpg'); */
    background-size: cover;
    background-position: center;
}


.iFrame:hover{
    filter: drop-shadow(9px 9px 11px #7B66EE);
}

.PRbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../public/images/lines2.png');
    mask-image: linear-gradient(
    to bottom,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}
